html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  /* font: inherit; */
  /* font-size: 100%; */
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
 
}

html, body { scroll-behavior:smooth; }

/* ::-webkit-scrollbar {
  display: none;
} */

li{
  list-style-type: none;
}

/* COLORS */
:root{
  --first-color:#2AC420;
  --border-color:#acacac;
  --text-color:#333333;
  --red-color:#FC5624;
}

.navLink{
  text-decoration: none;
  color:var(--text-color)
}

