.detailContainer{
/* background-color: pink; */
height: 100%;
}

.detailHeadline{
  display: flex;
  align-items: center;
  padding: 30px 0;
  position: relative;;
}

.goBackIcon{
  font-size: 20px;
  font-weight: bolder;
 position: absolute;
 left: 0;
}

.detailHeadline h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.detailLine{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.detailLine p{
  text-transform: capitalize;
}
.detailTitle{
  font-weight: bolder;

}

.archiveDetailBtn{
margin: auto;
background-color: transparent;
color: var(--first-color);
border: 2px solid var(--first-color);
transition: 0.3s;
padding: 8px 10px;
margin-left: 50%;
margin-top: 30px;
transform: translateX(-50%);
font-weight: bolder;
}

.archiveDetailBtn:hover{
  background-color: var(--first-color);
color: white;
border: 2px solid var(--first-color);

}